.room-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* כל האלמנטים מתחילים מהחלק העליון */
    height: 100%; /* גובה אחיד */
}

.room-item h5 {
    margin: 0; /* כותרת מיושרת למעלה */
    font-size: 1.25rem; /* גודל כותרת אחיד */
}

.room-item .p-4 {
    flex-grow: 1; /* שאר התוכן יתפרש לגובה הזמין */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* מתחיל מלמעלה */
}

.room-item .d-flex.justify-content-between {
    margin-top: auto; /* ממקם את האלמנטים לתחתית הכרטיס */
}

.container-fluid.page-header-inner.py-5 {
    margin-bottom: 150px; /* הרווח הרצוי */
}

.room-item img {
    width: 100%; /* התאמת רוחב התמונה לרוחב המיכל */
    height: 250px; /* גובה קבוע לתמונות */
    object-fit: cover; /* חיתוך התמונה כדי להתאים למסגרת ולשמור על פרופורציות */
    border-radius: 10px; /* פינות מעוגלות (לפי צורך) */
}
